# ========================================
# CONFIGURACION DE API
# ========================================
VITE_API_URL=

# ========================================
# CONFIGURACION DE SEGURIDAD
# ========================================
VITE_ENABLE_AUTH=
VITE_KEYCLOAK_BASE_URL=http://172.20.6.59:8080
VITE_KEYCLOAK_REALM=
VITE_KEYCLOAK_CLIENT_ID=
VITE_KEYCLOAK_REDIRECT_URI=
VITE_KEYCLOAK_POST_LOGOUT_REDIRECT_URI=
VITE_KEYCLOAK_RESPONSE_TYPE=code
VITE_KEYCLOAK_SCOPE=openid profile email
VITE_ROLE_ALIASES=ADMINISTRADOR:ADMIN,GESTOR_PROYECTOS_TI:GESTOR_TIC,GESTOR_PROYECTOS:DIRECTOR_PROYECTO,ANALISTA_PROYECTOS:CONSULTA
